.container{
    background-color: rgb(0, 180, 204);
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: 50px;
    padding-top: 50px;
    padding-left: 50px;
    border: 3px solid ;
    border-color: brown;
    box-sizing: border-box;
    
}
.child1, .child2, .child3{
    height: 100px;
    width: 100px;
    border: 2px solid;
    display: inline-block;
    margin-right: 20px;
}
.child1{
    background-color: azure;
}
.child2{
    background-color: aqua;

}
.child3{
    background-color: beige;
}